@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

/* --common */
.tw-block-parent {
    width: 500px;
    font: 14px/1.4 Roboto, Helvetica, Arial, Tahoma, sans-serif;
    font-weight: 300;
    color: #292F33;
}
.Avatar {
    width: 32px;
    height: 32px;
    background: url(placeholder-avatar);
    background-size: 32px;
}
/* -- common */

/* --main */
.timeline-TweetList-tweet {
    border-top: 1px solid rgba(15,70,100,.12);
}

.timeline-TweetList-tweet:first-of-type {
    border-top: none;
}

.timeline-Tweet {
    position: relative;
    padding: 10px;
}

.timeline-Tweet a,
.timeline-Tweet .link {
    color: #3b94d9;
    text-decoration: none;
    outline: 0;
}

.timeline-Tweet a:hover,
.timeline-Tweet .link:hover {
    color: #55acee;
}

.timeline-Tweet-brand {
    position: absolute;
    top: 10px;
    right: 10px;
}

.timeline-Tweet-author {
    position: relative;
    margin-bottom: 2px;
    padding-left: 40px;
}

.timeline-Tweet-text {
    margin-left: 40px;
    margin-bottom: 12px;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

.timeline-Tweet-metadata {
    position: absolute;
    bottom: 12px;
    right: 10px;
}

.timeline-Tweet-actions {
    margin: 0 0 0 40px;
    padding: 0;
    list-style: none;
    border: none;
}

.timeline-Tweet-action {
    display: inline-block;
    font-size: 17px;
    margin-left: 20px;
}

.timeline-Tweet-timestamp {
    font-size: 12px;
    line-height: 18px;
    color: #e1e8ed;
    transition: color .2s;
}

.timeline-Tweet:hover {
    background-color: rgba(160,200,220,.12);
}

.timeline-Tweet:hover .timeline-Tweet-brand .Icon {
    background-image: url(placeholder-icon-tw-h);
}

.timeline-Tweet:hover .timeline-Tweet-action .Icon {
    opacity: 1;
}

.timeline-Tweet:hover .timeline-Tweet-timestamp {
    color: #667580;
}

.TweetAuthor {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.TweetAuthor-link {
    font-weight: inherit;
    color: inherit;
    text-decoration: inherit;
}

.TweetAuthor-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 4px;
}

.TweetAuthor-name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.TweetAuthor-screenName {
    margin-left: 5px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    color: #8899A6;
}

/* VARS */
.Icon {
    display: inline-block;
    width: 1em;
    height: 1.25em;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: text-bottom;
    opacity: 0.6;
    transition: opacity 0.2s, background-image 0.2s;
}

.Icon:hover {
    opacity: 1;
}

.Icon--twitter {
    opacity: 1;
    background-image: url(placeholder-icon-tw);
}

.Icon--twitter:hover {
    background-image: url(placeholder-icon-tw-h);
}

.Icon--verified {
    opacity: 1;
    cursor: default;
    background-image: url(placeholder-icon-verify);
}

.Icon--heart {
    background-image: url(placeholder-icon-heart);
}

.Icon--heart:hover {
    background-image: url(placeholder-icon-heart-h);
}

.Icon--share {
    background-image: url(placeholder-icon-share);
}

.Icon--share:hover {
    background-image: url(placeholder-icon-share-h);
}
